@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";
@import 'flag-icons/css/flag-icons.min.css';

.roboto-regular {
    margin:0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
}

/* Recipe Page */
.bannerBackground {
    background:#3e4345;
}

.recipeBarBackground {
    background: #393e3f;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 1.0;
    transition: 0.2s ease-in-out;
}

.recipeBarBackground:hover {
    background: #666e70;
}   

/* Recipe button*/
.recipeButton {
    transition: 0.4s ease-in-out;
    text-transform: uppercase;
    font-weight: 300;
}

.recipeButton:hover {
    background: var(--drinkColor);
    letter-spacing: 0.3em;
    font-weight: 500;
}

.recipeButton:active {
    font-size: 80%;
}

/* About Page */
.aboutSeparator {
    background: linear-gradient(to right, #f6e7d0, #f5ccaa, #f6e7d0);
}

/* Product Card */
.cardBackground {
    background: linear-gradient(to right, #f6e7d0, #f5ccaa);
}

.searchButton {
    width:42px;
    height:42px;
    transition: 0.3s ease-in-out;
}

.searchButton:hover {
    transform: scale(1.2);
}

.searchButton:active {
    transform: scale(0.8);
}

.buttonFav {
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
}

.buttonFav:hover {
    transform: scale(1.2);
}

.buttonFav:active {
    transform: scale(0.5);
}

.buttonAddCart {
    color: black;
    text-transform: uppercase;
    background: linear-gradient(to left, #a58972, transparent);
    transition: 0.5s ease-in-out;
}

.buttonAddCart:hover {
    color: #f5ccaa;
    width: 270px;
    letter-spacing: 0.1em;
}

/* Profil Page */
.profilPictureBackground {
    color: #3e4345;
    background: #f5ccaa;
    border: 2px solid #f6e7d0;
}

.profilText {
    color:#f6e7d0
}

.cartGradient {
    background: linear-gradient(to left, #252525 , #ffffff 30%);
}

/* Cart */
@keyframes fade {
  0% { opacity: 0; transform: translateY(-3px); }
  10% { opacity: 1; transform: translateY(2px); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-3px); }
}

.animate-fade {
  animation: fade 1.5s ease forwards;
}

/* Retire les flèches sur Chrome, Safari, Edge */
input.no-spin::-webkit-outer-spin-button,
input.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Retire les flèches sur Firefox */
input.no-spin {
  -moz-appearance: textfield;
}

/** PopUp */
@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 1;
        transform: translateY(0); 
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
