@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";
@import 'flag-icons/css/flag-icons.min.css';

.roboto-regular {
    margin:0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
}

/* Recipe Page */
.bannerBackground {
    background:#3e4345;
}

.recipeBarBackground {
    background: #393e3f;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 1.0;
    transition: 0.2s ease-in-out;
}

.recipeBarBackground:hover {
    background: #666e70;
}   

/* Recipe button*/
.recipeButton {
    background: #bebebe00;
    border: 1px solid white;
    transition: 0.4s ease-in-out;
    text-transform: uppercase;
    color:white
}

.recipeButton:hover {
    background: var(--drinkColor);
    transform: scale(1.1);
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 5px var(--drinkColor);
}

.recipeButton:active {
    transform: scale(0.8);
}

/* About Page */
.aboutSeparator {
    background: linear-gradient(to right, #f6e7d0, #f5ccaa, #f6e7d0);
}

/* Product Card */
.cardBackground {
    background: linear-gradient(to right, #f6e7d0, #f5ccaa);
}

.searchBar {
    background: linear-gradient(to left, #666e70 ,white 10%);
}

.searchButton {
    width:42px;
    height:42px;
    transition: 0.3s ease-in-out;
}

.searchButton:hover {
    transform: scale(1.2);
}

.searchButton:active {
    transform: scale(0.8);
}

.buttonFav {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.buttonFav:hover {
    transform: scale(1.5);
}

.buttonFav:active {
    transform: scale(0.5);
}

.buttonAddCart {
    color: black;
    text-transform: uppercase;
    background: linear-gradient(to left, #a58972, transparent);
    transition: 0.5s ease-in-out;
}

.buttonAddCart:hover {
    color: #f5ccaa;
    width: 270px;
    letter-spacing: 0.1em;
}